body {
  background-color: #efe4de;
  font-weight: 600;
  font-family: arial;
  line-height: 20px;
}
div {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
/*  */
.messenger {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #f9f6f2;
  width: 430px;
  height: 680px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 10px 10px 50px rgb(189, 186, 186);
}
.header {
  position: relative;
}
.messenger .messenger__user {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  color: #75787a;
}
.messenger .messenger__dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.messenger .dot--green {
  background-color: green;
}
.messenger .dot--red {
  background-color: red;
}
.messenger__messages {
  height: 430px;
  overflow: scroll;
  margin: 0 -20px;
  padding: 0 20px;
}
.messenger__message {
  width: fit-content;
  max-width: 70%;
  color: #75787a;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(189, 186, 186, 0.5);
  margin-bottom: 20px;
  word-wrap: break-word;
}
.messenger__message .message__user {
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
  font-style: italic;
}
.message--left {
  border-radius: 0 15px 15px 15px;
}
.message--right {
  margin-left: auto;
  background-color: #9cc2bf;
  color: #f9f6f2;
  border-radius: 15px 0 15px 15px;
}
.messenger__input {
  box-sizing: border-box;
  color: #75787a;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  background: transparent;
  padding: 20px;
  height: 100px;
  width: 350px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(189, 186, 186, 0.5);
}
